// fonts
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// custom bootstrap variables
$primary: #EF9C4E;
$secondary: #727272;
$subtle-3: #AFB1B6;
$light-gray: #EFEFF0;
$text-light: #FAFAFA;
$night-black: #202020;
$danger: #FF3636;
$warning: #FF9901;
$disabled: #a9a9a9;
$beef: #CE5353;
$pork: #C561AC;
$poultry: #b5794d;
$fish: #6691C2;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
    "altlight": #f2ebfa,
    "altdark": #522192
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

$font-body:                 'Italiana', sans-serif !default;
$font-secondary:            'Raleway', sans-serif !default;
$font-size-base:            calc(1rem + 0.1vw) !default;
$font-size-xxs:              calc($font-size-base * 0.6) !default;
$font-size-xs:              calc($font-size-base * 0.8) !default;
$font-size-sm:              calc($font-size-base * 0.9) !default;
$font-size-md:              calc($font-size-base * 1.2) !default;
$font-size-large:           calc($font-size-base * 2.2) !default;

$line-height-base:          calc($font-size-base + 1rem) !default;

$sidemenu-width: 100px;

$linkedin-color: #4099ff;
$facebook-color: #3b5998;
$instagram-color: #d6249f;
$youtube-color: #c90000;

$button-shadow: inset -3px -3px 4px rgba(255, 255, 255, 0.3);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-body !important;
    font-size: $font-size-base;
    color: $text-light;
    scroll-behavior: smooth;
    background-color: $night-black;
}

h1 {
    font-size: $font-size-large;
    letter-spacing: 0.03rem;
    line-height: calc($font-size-large + 1.5rem);
}

// h2 {
//     font-size: $font-size-md;
//     font-weight: 700;
//     letter-spacing: 0.15rem;
//     text-transform: uppercase;
//     color: $secondary;
//     font-family: $font-secondary;
// }

// h3 {
//     font-family: $font-secondary;
//     font-weight: 600;
//     text-transform: uppercase;
//     font-size: $font-size-base;
//     letter-spacing: 0.1rem;
//     line-height: calc(($font-size-base) + 1.5rem);
// }

// h4 {
//   font-family: $font-body;
//   font-weight:bolder;
//   font-size: $font-size-md;
//   letter-spacing: 0.05rem;
// }

// h5 {
//   font-family: $font-body;
//   font-weight: normal;
//   font-size: $font-size-md;
//   letter-spacing: normal;
//   color: $night-black;
// }


// p {
//     font-size: $font-size-base;
//     font-weight: 400;
//     line-height: calc($font-size-base + 1rem);
// }

// a, .nav-link {
//     color: $primary;
//     font-size: $font-size-base;
//     font-weight: 400;
//     text-decoration: none;

//     &:hover, &:focus {
//         color: $secondary;
//     }
// }

// main {
//     background-attachment: fixed;
//     background-image: none;
//     background-size: 60%;
//     background-position: center right;
//     background-repeat: no-repeat;
//     transition: background-image 500ms ease-in-out;
// }

// section {
//     padding: 3vh 0;
// }

// --------------------
// BUTTON
// --------------------
.btn-primary {
    border: none;
    border-radius: 4px;
    padding: 0.8rem 1.8rem;
    font-family: $font-secondary;
    font-size: $font-size-base;
    letter-spacing: 0.03rem;
    font-weight: 500;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($color: $primary, $amount: 10);
    }
}
// --------------------
// INPUT FIELD
// --------------------
.floating-input {
    position: relative;
    width: 100%;
    max-width: 600px;

    .custom-input {
        width: 100%;
        padding: 16px 14px;
        background: $night-black;
        color: $text-light;
        border: 1px solid $subtle-3;
        border-radius: 8px;
        font-size: $font-size-base;
        outline: none;
        font-family: $font-secondary;  
        
        &::placeholder {
            color: transparent;
        }

        /* Float label when focused or filled */
        &:focus + label,
        &:not(:placeholder-shown) + label {
            top: 12px;
            font-size: $font-size-xxs;
        }
    }

    /* Label inside input */
    & label {
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        color: $subtle-3;
        font-size: $font-size-sm;
        pointer-events: none;
        transition: 0.2s ease;
    }

    /* number input arrows styling (kept visible) */
    .number-input::-webkit-inner-spin-button,
    .number-input::-webkit-outer-spin-button {
        opacity: 1;
        filter: invert(1);
    }

    /* select dropdown arrow */
    .select-input {
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6l4 4 4-4'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 14px center;
        padding-right: 40px;
    }

    /* keep label visible even when select is filled */
    .select-input + label {
        top: 6px;
    }
}

// --------------------
// INPUT FIELD MACRO
// --------------------
.macro-row {
    display: flex;
    align-items: center;
    gap: 12px;
    background: transparent;
    font-family: $font-secondary;

    .custom-input + label,
    .custom-input:not(:placeholder-shown) + label {
        top: 12px;
        font-size: $font-size-xxs;
    }

    .macro-label {
        min-width: 80px;
        color: $text-light;
        font-size: $font-size-base;
    }

    .macro-unit {
        color: $text-light;
        font-size: $font-size-base;
    }

    .macro-input {
        width: 120px;
    }
}

// --------------------
// ICON BUTTON
// --------------------
.type-btn {
    width: 50px;
    height: 50px;
    border-radius: 999px;
    background: $night-black;
    border: 1px solid $subtle-3;
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 0;
    margin-right: 14px;
    outline: none;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.08) inset;

    &:last-child {
        margin-right: 0;
    }

    &.allergen {
        margin: 0;
    }


    &:hover,
    &:focus,
    &:active {
        transition:
            border-color 200ms ease,
            box-shadow 200ms ease,
            transform 180ms ease;

        &.allergen {
            .type-icon {
                color: $warning; // SVG uses currentColor
            }
        }

        &.beef {
            border-color: $beef;

            .type-icon {
                color: $beef; // SVG uses currentColor
            }
        }

        &.pork {
            border-color: $pork;

            .type-icon {
                color: $pork; // SVG uses currentColor
            }
        }

        &.poultry {
            border-color: $poultry;

            .type-icon {
                color: $poultry; // SVG uses currentColor
            }
        }

        &.fish {
            border-color: $fish;

            .type-icon {
                color: $fish; // SVG uses currentColor
            }
        }
    }

    .type-icon {
        width: 34px;
        height: 34px;
        color: $text-light; // SVG uses currentColor
    }
}

// --------------------
// HEADER
// --------------------
nav {
    .nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.has-icon {
            .nav-link {
                padding-left: 0;
            }
        }
    }

    .nav-link {
        color: $text-light !important;
        font-family: $font-secondary;
        font-size: $font-size-sm;
        font-weight: 200;
    }

    .nav-profile {
        display: flex;
        align-items: center;

        .dropdown-toggle::after {
            display: none; // hide caret
        }
        
        .profile-link {
            padding: 0.25rem;
        }

        .profile-avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #fafafa;
            color: #000;
            font-size: 0.75rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}






